#import <Foundation/Foundation.h>
#import <libxml/tree.h>
#import <libxml/xmlsave.h>
#import <objc/runtime.h>
#import "USGlobals.h"
#import "USAdditions.h"
#import "NSDate+ISO8601Parsing.h"
#import "NSDate+ISO8601Unparsing.h"

%FOREACH type in types
%IFEQ type.assignOrRetain retain
@class %«type.classNameWithoutPtr»;
%ENDIF
%ENDFOR

%FOREACH schema in imports
%IFNOT schema.shouldNotWriteString
#import "%«schema.prefix».h"
%ENDIF
%ENDFOR
